{% extends 'base.html' %}
{% load static %}


{% block url %}
    "{% url 'search' %}"
{% endblock %}



{% block body %}




    <div class="position-absolute" id="alert"></div>
    <p style="margin-top: 5rem; color: #fafafa">_</p>


    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col"><img id="myp" src="" width="300px" class="text-center"></div>
            <div class="col"></div>
        </div>
    </div>



    <div style="margin-top: 2rem" id="hide" class="container rounded bg-white shadow p-5">
        <!-- Script below is placed here so that it will hide the container before it loads. The rest of the script is at bottom of page in another script-->
        <script>
            $('#hide').css('display', 'none')
        </script>
        <div class="row g-2">
            {% for music in music %}
                <div class="card p-2 m-2 border border-primary" style="width: 18rem;">
                    <img class="card-img-top" src="{{ music.music_picture }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ music.music_title }}
                        </h5>
                        <p class="card-text">
                            {{ music.music_artist }}</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    {% if user.is_authenticated %}
                                        <form action="{% url 'liked' %}" method="post" id="like-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="music-id" value="{{ music.id }}">
                                            {% if music.id in playlist_ids %}
                                                <input type="hidden" name="like-status" value="0">
                                                <!-- This heart is for liking, second one is unlike -->
                                                <button class="btn btn-primary heart">
                                                    <img src="{% static 'images/heart.png' %}" alt="heart"
                                                         class="img-fluid">
                                                </button>
                                            {% else %}
                                                <input type="hidden" name="like-status" value="1">
                                                <button class="btn btn-primary heart">
                                                    <img src="{% static 'images/heart-white.png' %}" alt="heart"
                                                         class="img-fluid">
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% else %}
                                        <button class="btn btn-primary heart">
                                            <img src="{% static 'images/heart-white.png' %}" alt="heart"
                                                 class="img-fluid">
                                        </button>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}

    <script>
        {% if not user.is_authenticated %}

            $('.heart').click(function () {

                $('#alert').html('<div class="alert alert-warning" role="alert" id="fade">You must be logged in to save a song! </div>');
                $('#fade').fadeOut(3500);
            })

        {% else %}
            $('.heart').click(function () {
                $('#like-form').submit();
            }


        {% endif %}


        let spinList = ["{% static 'images/firstspin.png' %}", "{% static 'images/spin2.png' %}", "{% static 'images/spin3.png' %}",
            "{% static 'images/spin4.png' %}", "{% static 'images/spin5.png' %}", "{% static 'images/spin6.png' %}",
            "{% static 'images/spin7.png' %}", "{% static 'images/spin8.png' %}"]


        function longForLoop(limit) {
            let i = 0;
            let ref = setInterval(() => {
                $('#myp').attr("src", spinList[i % 8])
                i++
                if (i == limit) {
                    clearInterval(ref);
                    $('#hide').css('display', 'block')
                    $('#myp').css('display', 'none')
                }
            }, 75);
        }

        longForLoop(20);


    </script>

{% endblock %}