{% extends 'base.html' %}
{% load static %}

{% block url %}
    "{% url 'search-playlist' %}"
{% endblock %}

{% block body %}

    <h1>{{ user }}'s Playlist</h1>


    <div style="background-color: lightpink" id="hide" class="container rounded my-5 shadow p-5">
        <div class="row g-2">
            {% for music in music %}
                {% if music.id in playlist_ids %}
                    <div class="card p-2 m-2 border-2 shadow border-body" style="width: 18rem; background-color: lightskyblue">
                        <img class="card-img-top" src="{{ music.music_picture }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ music.music_title }}
                            </h5>
                            <p class="card-text">
                                {{ music.music_artist }}</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">

                                        <form action="{% url 'liked-playlist' %}" method="post" id="like-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="music-id" value="{{ music.id }}">
                                            {% if music.id in playlist_ids %}
                                                <input type="hidden" name="like-status" value="0">
                                                <!-- This heart is for liking, second one is unlike -->
                                                <button class="btn btn-primary heart">
                                                    <img src="{% static 'images/heart.png' %}" alt="heart"
                                                         class="img-fluid">
                                                </button>
                                            {% else %}
                                                <input type="hidden" name="like-status" value="1">
                                                <button class="btn btn-primary heart">
                                                    <img src="{% static 'images/heart-white.png' %}" alt="heart"
                                                         class="img-fluid">
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}